{% extends 'pokedex/base.html' %}

{% block content %}
<div class="row search-container">
    search bar here
</div>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-2">
        <div class="card">
            <div class="front">
                <div class="title">
                    {{ pokemon.name|upper }}
                </div>
                <img src="{{pokemon.sprite.url}}">
                <div class="bottom">
                    {{ pokemon.type }}
                    <span class="right">
                        {{ pokemon.number|stringformat:"03d" }}
                    </span>
                </div>
            </div>
            <div class="back">
                <ul>
                    <li>Evolves from: {{ pokemon.evolves_from }}</li>
                    <li>Evolves into: {{ pokemon.evolves_into }}</li>
                    <li>Region: {{ pokemon.region }}</li>
                    <li>Habitat: {{ pokemon.climate }}</li> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
