{% extends 'pokedex/base.html' %}

{% block content %}
<div class="row search-container">
    Filter: 
    <form method="get" action="/search/">
        <input type="text" name="q" id="id_q" value="{{ query }}"/>
        <input type="submit" value="Search" />
    </form>
</div>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-2">
        <div class="card">
            <div class="front">
                <div class="title">
                    {{ pokemon.name|upper }}
                </div>
                <img src="{{pokemon.sprite.url}}">
                <div class="bottom">
                    {{ pokemon.type }}
                    <span class="right">
                        {{ pokemon.number|stringformat:"03d" }}
                    </span>
                </div>
            </div>
            <div class="back">
                <ul>
                    <li>Evolves from: {{ pokemon.evolves_from }}</li>
                    <li>Evolves into: {{ pokemon.evolves_into }}</li>
                    <br>    
                    <li>Region: {{ pokemon.region }}</li>
                    <li>Habitat: {{ pokemon.climate }}</li> 
                    <br>
                    Stats:
                    <hr>
                    <li>HP: <span class="stats">{{ pokemon.statistics.hp }}</span></li>
                    <li>ATK: <span class="stats">{{ pokemon.statistics.attack }}</span></li>
                    <li>DEF: <span class="stats">{{ pokemon.statistics.defense }}</span></li>
                    <li>SPA: <span class="stats">{{ pokemon.statistics.special_attack }}</span></li>
                    <li>SPD: <span class="stats">{{ pokemon.statistics.special_defense }}</span></li>
                    <li>SPE: <span class="stats">{{ pokemon.statistics.speed }}</span></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
